name: Deploy to NPM
on:
  push:
    tags:
      - "*"
jobs:
  test:
    name: Run tests and deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "16"
          cache: "yarn"
      - run: yarn install --prefer-offline --frozen-lockfile
      - run: yarn run lint
      - run: yarn run build
      - run: yarn run test
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
